@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

body {
    font-family:'Playfair Display', serif;
}

/* encabezado */

.colorFondo{
    background-color:rgb(243, 199, 117);
}

.colorboton {
    background-color: rgb(242, 189, 91);
}

.colorboton:hover {
    background-color: rgb(248, 160, 127);
}

.texto {
    color: rgb(246, 176, 46) ;
}

.imgcarrucel {
    height: 40rem;
    width: 100%;
    object-fit: cover;
}

.colorfooter {
    background-color: rgb(250, 167, 140);
}

ul li {
    list-style-type: none;
    display: inline-block;
}

ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    margin: 40px;
}

header {
    border: rgb(233, 108, 77) solid 2px;
}


/* flexbox */
ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* cuerpo o body */

main {
    text-align: center;
}

main img {
    margin: 30px;
}

/* footer */